<form class="box" action="/hotellist/{{hotelList._id}}/addhotel" method="POST">
  <label>Enter Hotel Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel city" name="city">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel airport" name="airport">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Hotel!</button>
</form>