{{#if admin}}
<form class="box" action="/admin/hotels/addhotel" method="POST">
{{else}}
<form class="box" action="/hotellist/{{hotelList._id}}/addhotel" method="POST">
{{/if}}
  <label>Enter Hotel Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel name" name="name" autofocus>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel city" name="city">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel airport" name="airport">
      </div>
      {{#if admin}}
      <div class="field">
        <input class="input" type="text" placeholder="Enter Hotel List Id" name="hotelListId">
      </div>
      {{/if}}
    </div>
  </div>
  <button class="button is-link">Add Hotel</button>
</form>