{{#each hotelLists}}
  <div class="box box-link-hover-shadow">
    <p class="subtitle">List Name:<br>
      {{title}}
    </p>
    {{#if @root.admin}}
    <h3 class="subtitle">List Id:<br>
    {{_id}}</h3>
    {{/if}}
    <a href="/hotellist/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
     <a href="/admin/hotellists/deletehotellist/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
    {{#if ../displayHotels}}
      {{> list-hotels}}
    {{/if}}
  </div>
{{/each}}